body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -16px !important;
  height: 67px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  background-color: #13378a;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  background-image: url(../images/Header.jpg);
  background-size: cover;
  margin-top: -70px;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}

header .btn-get-started:hover {
  background-color: #fcad71;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 16px;
  padding-left: 54px;
  background-color: #fff;
}

.section-stats .stats-detail h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats .stats-detail p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  color: #fff;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2 {
  font-size: 40;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  text-transform: uppercase;
}

.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-popular-content .section-popular-travel .card-travel .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel .btn-travel-details:hover {
  background-color: #fcad71;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -270px;
  padding-top: 320px;
}

.section-networks img {
  max-width: 100%;
}

.section-networks p {
  font-size: 18px;
}

.section-networks h2 {
  font-family: "Fairplay Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading {
  padding-top: 50px;
  min-height: 506px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
}

.section-testimonial-heading h2 {
  font-family: "Fairplay Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -280px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  border-radius: 11px;
  padding: 40px 20px 10px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial .testimonial-content h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content p {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  margin-bottom: 20px;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial hr {
  margin-right: -20px;
  margin-left: -20px;
}

.section-testimonial-content .card-testimonial p {
  color: #6e6e6e;
  font-size: 22px;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
  font-size: 20px;
  font-weight: lighter;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #fcfcfc;
  color: #c3c3c3;
}

.section-testimonial-content .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #fcad71;
  color: #fff;
}

.section-footer h5 {
  font-size: 22px;
  font-weight: 600;
}

.section-footer a {
  color: #071c4d;
  font-size: 18px;
}

.section-footer .copyright {
  font-size: 18px;
}

.section-detail-header {
  min-height: 310px;
  background-color: #e4e6eb;
  margin-top: -70px;
}

.section-detail-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-detail-content .breadcrumb {
  background-color: transparent;
  font-size: 20px;
  font-weight: lighter;
  padding: 0;
  color: #071c4d;
}

.section-detail-content .breadcrumb .breadcrumb-item.active {
  font-size: 20px;
  font-weight: 600;
  color: #051334;
}

.section-detail-content .card-details {
  padding: 30px;
  border-radius: 11px;
  margin-bottom: 20px;
  font-size: 18px;
}

.section-detail-content .card-details h1 {
  font-size: 26px;
  font-weight: 600;
}

.section-detail-content .card-details p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
}

.section-detail-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-detail-content .card-details .features {
  margin-top: 20px;
}

.section-detail-content .card-details .features .features-image {
  float: left;
}

.section-detail-content .card-details .features .desc {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-detail-content .card-details .features .desc h3 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 0;
}

.section-detail-content .card-details .features .desc p {
  font-size: 14px;
  font-weight: lighter;
  color: #b1b1b1;
  margin-bottom: 0;
}

.section-detail-content .card-details .gallery .xzoom-container {
  display: block;
}

.section-detail-content .card-details .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-detail-content .card-details .gallery .xzoom-container.xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-detail-content .card-details .attendee table {
  color: #071c4d;
}

.section-detail-content .card-details .trip-information th {
  font-size: 18px;
  font-weight: lighter;
  color: #071c4d;
}

.section-detail-content .card-details .trip-information td {
  font-size: 18px;
  font-weight: lighter;
  color: #b1b1b1;
}

.section-detail-content .card-details .note h3 {
  font-size: 14px;
  font-weight: bold;
}

.section-detail-content .card-details .note .disclimer {
  font-size: 14px;
  font-weight: lighter;
  color: #b1b1b1;
}

.section-detail-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-detail-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
  margin-bottom: 8px;
}

.section-detail-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.section-detail-content .card-details .btn-add-now:hover {
  background-color: #13378a;
  color: #fff;
}

.section-detail-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section-detail-content .join-container {
  margin-top: -20px;
}

.section-detail-content .join-container .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
}

.section-detail-content .join-container .btn-join-now:hover {
  background-color: #ffb175;
  color: #fff;
}

.section-detail-content .trip-information .amount {
  font-weight: bold;
  color: #071c4d;
}

.section-detail-content .trip-information .unique-code {
  font-weight: bold;
  color: #ff9e53;
}

.section-detail-content .payment-instructions h3 {
  font-size: 20px;
  font-weight: bold;
}

.section-detail-content .payment-instructions p {
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
}

.section-detail-content .bank .bank-account img {
  width: 45px;
  height: 45px;
  float: left;
}

.section-detail-content .bank .bank-account .desc {
  float: left;
  overflow: hidden;
  margin-left: 10px;
  color: #071c4d;
}

.section-detail-content .bank .bank-account .desc h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}

.section-detail-content .bank .bank-account .desc p {
  font-size: 16px;
  margin-bottom: 0;
}

.section-detail-content .cancel-booking {
  text-decoration: underline;
  color: #bfbfbf;
  font-size: 20px;
  font-weight: lighter;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-size: 26px;
  font-weight: 600;
  color: #071c4d;
}

.section-success p {
  font-size: 18px;
  font-weight: lighter;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  background-color: #071c4d;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #13378a;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */